{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["name"] }}</td>
                <td>{{ row["sumshare"] }}</td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["total"] }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash }}</td>
        </tr>
        <thead class="thead-light">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ grandtotal }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}
