{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option value="" selected>Symbol</option>
                {% for row in rows %}
                    <option value="{{ row["symbol"] }}">{{ row["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
